
.destinos-container {
    width: 100%;
    padding: 5rem 0;
}

.linha-destinos {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.destino-card {
    width: 30%;
    transition: 0.2s ease;
}

.destino-card:hover{
    cursor: pointer;
    transform: scale(105%);
}

.destino-card img {
    max-width: 100%;
    border-radius: 5px;
}

.destino-card .desc-destino {
    background-color: #121212;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
}

.destino-card .desc-destino p {
    font-size: 15px;
}
