.servico-container {
    width: 100%;
    padding: 5rem 0;
}

.linha-servico {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.servico-card {
    width: 30%;
    transition: 0.2s ease;
}

.servico-card:hover {
    cursor: pointer;
    transform: scale(105%);
}

.servico-card img {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
}

.servico-card .desc-servico {
    background-color: var(--nav-bg-color);
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    min-height: 230px;
}

.servico-card .desc-servico p {
    font-size: 18px;
    text-align: justify;
}

.faq-section {
    padding: 10rem;
}

.faq-section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.faq-item {
    margin-bottom: 1rem;
}

.faq-item h3 {
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .servico-container {
        padding: 2rem;
    }

    .linha-servico {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .servico-card {
        width: 100%;
        transition: 0.2s ease;
        margin-bottom: 3rem;
    }

    .faq-section {
        padding: 3rem;
    }
}