:root{
  --nav-bg-color: #212121;
  --nav-li-bg-color-active: rgba(211, 211, 211, 0.5);
  --bg-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

nav img{
    width: 100%;
    max-width: 100px;
}

nav {
  height: 120px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bg-color);
  position: relative;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

nav ul li a:hover,
nav ul li.active a {
  background-color: var(--nav-li-bg-color-active);
  border-radius: 5px;
  transition: 0.5s;
}

#menu-mobile {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: var(--nav-bg-color);
    padding: 20px 0;
    gap: 0;
  }

  #menu-mobile:checked ~ ul {
    display: flex;
    z-index: 1000;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    padding: 15px;
  }
}

header.pages-header {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;
  gap: 25px;
  background-color: var(--bg-color);
}

header.pages-header h1 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 10px;
}

header.pages-header h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-bottom: 1px solid #000;
  bottom: 0;
  height: 3px;
  width: 60%;
}

footer {
  background-color: var(--nav-bg-color);
  width: 100%;
  padding: 1rem;
}

footer section ul li {
  list-style-type: none;
  text-align: center;
  color: white;
  font-weight: 600;
  margin: 5px;
}

footer hr {
  margin: 1rem;
}

#copyright {
  text-align: center;
  color: white;
}
