*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";

}

nav{
    height: 100px;
    display: flex;

    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

nav ul li{
    padding: 20px; 
}

nav ul li:hover{
    background-color: #d3d3d3;
    transition: 0.5s;
    border-radius: 5px;
    opacity: 80%;
}

nav .active{
    background-color: #d3d3d3;
    opacity: 80%;
    border-radius: 5px;
}

li a {
 text-decoration: none;
 color: white;
}

#background-header{
    background-image: url(../img/background-header.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

header.pages-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    gap: 25px;
    background-color: #f0f0f0;
}

header.pages-header h1 {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 10px;
}

header.pages-header h1::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 1px solid #000;
    bottom: 0;
    height: 3px;
    width: 60%;
}